.box {
    display: flex;
    flex-wrap: wrap;
}

#img-img {
    margin: 5px;
    height: 400px;
    width: 250px;
    position: relative;
    border-radius: 0;
    background: #000000 !important;
    box-shadow: 0 0 16px rgba(255, 255, 255, 1.0);
    max-width: 250px;
    transition: 0.5s;
    padding-left: -10px;
    padding-right: 10px;
}
